<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Squad 24 Seven is a provider of integrated Manned Guarding Services, Facility Management Services, and Electronic Security Solutions. We are a trusted partner dedicated to helping clients protect their people, safeguard their assets, and optimize their operations."
    />
    <meta property="og:image" content="../assets/hero.jpg" />
    <title>Squad 24 Seven Limited</title>
    <link rel="stylesheet" href="../styles/globals.css" />
    <link rel="stylesheet" href="../styles/service.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/logo_transparent.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header class="shadow">
      <div class="logo-container">
        <a href="/"><img src="../assets/logo.jpg" alt="Logo" /></a>
      </div>

      <button class="nav-toggle" aria-controls="navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <nav>
        <ul class="primary-navigation" data-visible="false">
          <div class="navigation-large">
            <li><a href="/">Home</a></li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">
                  Who We Are <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/about">About Us</a>
                  <a href="/team">Management Team</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">
                  Service Portfolio <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/service/manned-guarding"
                    >Manned Guarding Services</a
                  >
                  <a href="/service/security-survey"
                    >Security Survey / Risk Assesment</a
                  >
                  <a href="/service/executive-protection"
                    >Executive Protection</a
                  >
                  <a href="/service/event-security-management"
                    >Event Security Management</a
                  >
                  <a href="/service/electronic-security-solutions"
                    >Electronic Security Solutions</a
                  >
                  <a href="/service/facility-management"
                    >Facilty Management Services</a
                  >
                </div>
              </div>
            </li>
            <li><a href="/clientele">Clientele</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
          </div>

          <div class="responsive-nav">
            <li><a href="/">Home</a></li>
            <p>Who We Are</p>
            <li><a href="/about">About Us</a></li>
            <li><a href="/team">Management Team</a></li>
            <p>Service Portfolio</p>
            <li>
              <a href="/service/manned-guarding">Manned Guarding Services</a>
            </li>
            <li>
              <a href="/service/security-survey"
                >Security Survey / Risk Assesment</a
              >
            </li>
            <li>
              <a href="/service/executive-protection">Executive Protection</a>
            </li>
            <li>
              <a href="/service/event-security-management"
                >Event Security Management</a
              >
            </li>
            <li>
              <a href="/service/electronic-security-solutions"
                >Electronic Security Solutions</a
              >
            </li>
            <li>
              <a href="/service/facility-management"
                >Facility Management Services</a
              >
            </li>
            <li><a href="/clientele">Clientele</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
          </div>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="title"><h1>Event Security Management</h1></div>

      <div class="text-container">
        <ul class="list">
          <li>
            Experienced teams provide safety at events of any type and size.
          </li>
          <li>Crowd management, venue access control, staff coordination.</li>
          <li>Rapid response to incidents plus proactive risk mitigation.</li>
          <li>Post-event debriefs to identify improvements for the future.</li>
        </ul>

        <p class="text">
          We offer our client security service for the event which term as Event
          Security Management. This includes venue security solutions for any
          kind of program or event, whether it be social, cultural, corporate,
          or personal. Prior to the security personnel being deployed, we
          conducted a thorough site survey and met with the client to finalize
          the deployment plan. Our goal is to ensure that both the attendees and
          the event site are safe and secure.
        </p>
      </div>
    </div>

    <div class="contact">
      <a href="tel:+880 1611-888-247"
        ><i class="fa-solid fa-phone" style="margin-right: 8px"></i> +880
        1611-888-247</a
      >
    </div>

    <div class="footer">
      <section>
        <h2>Squad 24 Seven Ltd.</h2>
        <p>House - 252 (3rd Floor), Road - 18,</p>
        <p>Mohakhali DOHS, Dhaka</p>

        <p>
          Email:
          <a href="mailto:info@squad24seven.com">info@squad24seven.com</a>
        </p>
        <p>Phone: <a href="tel:+880 9614-444-247">+880 9614-444-247</a></p>

        <p>All rights reserved.</p>
      </section>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.9715391412556!2d90.39408329999999!3d23.7840278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7f7253bcb1f%3A0xf055e8d89958b4c2!2s24%20Seven%20Security%20Services%20Ltd.!5e0!3m2!1sen!2sbd!4v1701049221733!5m2!1sen!2sbd"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <script src="/header.js"></script>
  </body>
</html>
